*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}




body{
  background-image: url(./images/Reciclaje.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.seccion  {
  color: #fff;
 
 
  height: 100vh;  
}
.navBg {
  background-color: #2a9938;
}
