.header{
    position: center;
    font-weight: 100;
    background-position: 56%;
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  padding: 25px 40px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  margin-left:auto;
  flex-direction: column;


}